@model IEnumerable<ShopCET47.Web.Data.Entities.Order>

@{
    ViewData["Title"] = "Index";
}

<h2>Orders</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            @if (this.User.IsInRole("Admin"))
            {
                <th>
                    @Html.DisplayNameFor(model => model.User.FullName)
                </th>
            }
            <th>
                @Html.DisplayNameFor(model => model.OrderDateLocal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lines)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            
        </tr>
    </thead>
    
    @foreach (var item in Model)
    {
<tr>
    @if (this.User.IsInRole("Admin"))
    {
        <th>
            @Html.DisplayFor(modelitem => item.User.FullName)
        </th>
    }
    <td>
        @Html.DisplayFor(modelitem => item.OrderDateLocal)
    </td>
    <td>
        @Html.DisplayFor(modelitem => item.DeliveryDate)
    </td>
    <td>
        @Html.DisplayFor(modelitem => item.Lines)
    </td>
    <td>
        @Html.DisplayFor(modelitem => item.Quantity)
    </td>
    <td>
        @Html.DisplayFor(modelitem => item.Value)
    </td>
    <td>
        <a asp-action="Deliver" asp-route-id="@item.ID" class="btn btn-info" id="btnDeliver">Deliver</a>
        <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger" id="btnDelete">Delete</a>
    </td>
</tr>
    }
</table>
